@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecfdf5;
}
.container {
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container h1 {
  font-size: 40px;
  font-weight: 800;
}

.container h1 span {
  color: #10b981;
}

.container h2 {
  color: #6b7280;
  font-weight: 400;
  margin-top: 10px;
}
.container .btn {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}

.container p {
  width: 200px;
  height: 50px;
  background-color: #273549;
  margin-top: 50px;
  border-radius: 5px;
  margin-right: 20px;
  color: #10b981;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .password-container {
    display: flex;
  }
}
